html, body {
  margin: 0;
  height: 100%;
}

#map {
  height: 100vh;
  width: 100vw;
}

.popup-img {
  width: 120px;
  border-radius: 4px;
}

/* Стили для скругления и тени генплана */
.overlay-shadow img {
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3); /* Мягкая тень */
}

/* Стили для header */
header {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
}

header h1 {
  margin: 0;
}

header nav {
  margin-top: 10px;
}

header nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

/* Стили для footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed; /* Фиксированное положение внизу */
  bottom: 0;        /* Прижать к низу */
  width: 100%;       /* Занять всю ширину */
}
